.recent-notes {
  & > h4 {
    margin: 0.5rem 0 0 0;
    font-size: 0.7rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 0.3rem 0;
      .section > .desc > h4 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 0 0.2rem 0;
        opacity: 0.6;
        font-size: small;
      }
    }
  }
}
