$pageWidth: 600px;
$mobileBreakpoint: 500px;
$tabletBreakpoint: 900px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 400;
$semiBoldWeight: 300;
$normalWeight: 200;
